.download {
  display: inline;

  button {
    background-color: var(--white);
    color: var(--primary);
    height: 42px;
    border-radius: 8px;
    outline: none;
    border: 0;
    cursor: pointer;
    padding: 0 18px;
    font-weight: bold;
  }

  button:hover {
    background-color: var(--white-hover);
  }
}
