.download {
  display: inline;

  button {
    background-color: white;
    color: purple;
    height: 42px;
    border-radius: 8px;
    outline: none;
    border: 0;
    cursor: pointer;
    padding: 0 18px;
    font-weight: bold;
  }
  button:hover {
    background-color: rgba(255, 219, 255, 0.623);
  }
}
