.toolbar {
  padding: 2px 0 7px 0;
  background-color: white;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--gray);
  box-shadow: 0px 0px 0px 1px rgba(64, 87, 109, 0.04);
}

.toolbar > div > * {
  margin: 0 4px;
}

.toolbar div[id^="font-picker"] {
  box-shadow: none;
}

.toolbar div[id^="font-picker"] .dropdown-button,
.toolbar div[id^="font-picker"] .dropdown-button:hover,
.toolbar div[id^="font-picker"] .dropdown-button:focus {
  background-color: white;
  height: 32px;
  border: 1px solid var(--gray);
  border-radius: 3px;
}

.toolbar div[id^="font-picker"].expanded ul {
  background-color: white;
  box-shadow: none;
  border: 1px solid var(--gray);
  border-top: none;
}

.toolbar div[id^="font-picker"] ul li button:hover,
.toolbar div[id^="font-picker"] ul li button:focus {
  background: var(--primary-hover-light);
}
