.tooltip {
  position: relative;
  display: inline;

  span {
    background-color: black;
    color: white;
    padding: 9px;
    border-radius: 60px;
    position: absolute;
    right: 9px;
    width: max-content;
    top: 20px;
    opacity: 0.9;
  }
}
