.colorPicker {
  display: inline;
  position: relative;
  top: 6px;

  .popup {
    position: absolute;
    top: 3px;
    right: 0;
    background-color: var(--white);
    width: 240px;
    border: 0px solid rgba(0, 0, 0, 0.25);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
    border-radius: 4px;
  }

  button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
    height: 32px;

    svg {
      position: relative;
      top: 2px;
    }
  }

  button:hover {
    cursor: pointer;
    background-color: var(--primary-hover-light);
  }

  .twitterPicker {
    position: absolute !important;
    top: 22px !important;
    right: 0 !important;
  }
}
