.textinput-container {
  width: 100%;
  display: inline;
  position: relative;
}

.textinput {
  border-radius: 0;
  border: 1px solid var(--gray);
  height: 32px;
  padding: 0px 9px;
  border-radius: 3px;
}

input:active,
input:focus-visible,
input:focus {
  border: 1px solid var(--primary);
  outline: none;
}

/* input:hover {
  background-color: var(--primary-hover-light);
} */

.icon {
  position: absolute;
  left: 2px;
  top: -2px;
  padding: 0 2px;
}

.textinput.with-icon {
  text-indent: 20px;
}

.textinput.compact {
  text-indent: unset;
  width: 30px;
}

.textinput.compact.with-icon {
  padding-left: 30px;
  width: 35px;
}
