.slider {
  display: inline;
  position: relative;
  top: 6px;

  button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
    height: 32px;

    svg {
      position: relative;
      top: 2px;
    }
  }

  button:hover {
    background-color: var(--primary-hover-light);
  }

  .popup {
    position: absolute;
    top: 22px;
    right: 0;
    background-color: var(--white);
    padding: 18px 18px;
    width: 175px;
    border: 0px solid rgba(0, 0, 0, 0.25);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
    border-radius: 4px;

    div {
      display: flex;
      place-items: center;
      justify-content: space-between;
    }

    input[type="range"] {
      display: block;
      margin: 18px 0 9px 0;
      width: 98%;
    }
  }

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
  }

  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }

  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--primary);
    border-radius: 0.5rem;
    height: 3px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -6px;
    background-color: #ffffff;
    border-radius: 0.5rem;
    outline: 1px solid black;
    height: 14px;
    width: 14px;
  }

  input[type="range"]:focus::-webkit-slider-thumb,
  input[type="range"]:hover::-webkit-slider-thumb {
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
    outline: 9px solid var(--primary-hover-light);
  }

  /*
   * Firefox styles
   * https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/
   */
}
