:root {
  --primary: #fe9000;
  --primary-hover: color-mix(in srgb, var(--primary), #ffffff 10%);
  --primary-hover-light: color-mix(in srgb, var(--primary), #ffffff 90%);
  --gray: #b9b9b9;
}

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  background-image: url("../public/background.png");
  background-repeat: repeat;
}
