.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row {
  flex: 1;
}

.App div[id^="font-picker"] {
  box-shadow: none;
}

.App div[id^="font-picker"] .dropdown-button {
  background-color: white;
  height: 25px;
  border: 1px solid black;
  box-shadow: none;
}

.App div[id^="font-picker"] .dropdown-button:hover,
.App div[id^="font-picker"] .dropdown-button:focus {
  background-color: white;
  height: 25px;
  border: 1px solid black;
  box-shadow: none;
}

#watermakedImageWithText {
  width: 80%;
}
